@media (min-width: 1020px) {
	.freezing {
		position: relative;
		pointer-events: all;
	}

	.color_freez {
		background: #e5e5e5;
	}
}

@media (max-width: 1020px) {
	.close {
		display: inline-block;
	}

	.name_favourite {
		text-align: end;
	}

	.conteiner_favourite {
		min-width: 57%;
		overflow: hidden;
		z-index: 10000;
		display: none;
	}

	.tablet {
		display: flex;
	}

	.button_main {
		visibility: visible;
	}

	#conteiner_main {
		width: 100%;
		min-width: auto;
	}

	.box_main {
		width: 90%;
		left: 0;
		right: 0;
	}
}
