@media (max-width: 1020px) {
   .close {
      display: inline-block;
   }

   .name_favourite {
      text-align: end;
   }

   .hidden_favourite {
      display: none;
   }

   .name_main_favourite {
      visibility: visible;
   }

   #hidden_main {
      width: 100%;
   }

   #conteiner_main {
      width: 100%;
   }

   .box_main {
      width: 90%;
   }
}

/* #conteiner_main {
      width: 100%;
      position: fixed;
      pointer-events: none;
   }

   #hidden_main {
      min-width: 42%;
      background: rgba(150, 103, 103, 0.3);
      z-index: 9999;
   }

   .hidden_favourite {
      min-width: 58%;
      overflow: hidden;
      z-index: 10000;
   } */