@media (min-width: 1020px) {
	.freezing {
		position: relative;
		pointer-events: all;
	}

	.color_freez {
		background: #e5e5e5;
	}
}

@media (max-width: 1020px) {
	.close {
		display: inline-block;
	}

	.name_favourite {
      text-align: end;
      margin-bottom: 2.5em;
	}

	.container_favourite {
		min-width: 57%;
		overflow: hidden;
		z-index: 10000;
		display: none;
	}

	.tablet {
		display: flex;
	}

	.button_main {
		visibility: visible;
	}

	#container_main {
		width: 100%;
		min-width: auto;
	}

	.box_main {
		width: 90%;
		left: 0;
		right: 0;
   }
   
}

@media (max-width: 600px) {
   .container_favourite {
      min-width: 75%;
   }
}

@media (max-width: 450px) {
   .container_favourite {
      min-width: 100%;
   }

   .box_favourite {
      width: 90%;
   }

   .timeAgo {
      margin-bottom: 1.3em;
   }

   .labelCategory {
      right: 15.6em;
      bottom: 1.5em;
   }

   .name_favourite {
      margin-bottom: 2.5em;
	}
}

