@import '../css/normalize.css';
@import '../css/fonts.css';


html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	margin-top: 2em;
}

h2 {
	font-weight: 500;
	font-size: 24px;
	line-height: 44px;
	margin-top: -1em;
}

.container {
	display: flex;
	min-height: 100%;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	color: #333333;
}

.box_main {
	width: 80%;
}

.box_favourite {
	width: 85%;
}

.box_main,
.box_favourite {
	margin: 0 auto;
}

#container_main {
	width: 66%;
	min-height: 100%;
	font-weight: normal;
}

.head_main {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.button_main {
	color: #ababab;
	font-size: 1.3em;
	visibility: hidden;
}

.container_favourite {
	max-width: 34%;
	min-width: 34%;
	min-height: 100%;
	background: #f8f8f8;
	display: none;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	transition: 0.5s all linear;
}

form {
	margin-top: 2.5em;
}

label {
	font-size: 1.1em;
	display: block;
	margin-top: 0.7em;
}

.check {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	border-radius: 50%;
	width: 20px;
	height: 20px;

	box-sizing: border-box;

	border: 2px solid #ababab;
	transition: 0.2s all linear;
	outline: none;
	margin-right: 5px;

	position: relative;
	top: 4px;
}

.check:checked {
	background: url('../icons/circle.svg') center no-repeat;
	border: 2px solid #333333;
	box-sizing: border-box;
}

.check:hover {
	border: 2px solid #333333;
}

#button_get {
	width: 9.5em;
	height: 2.6em;
	background: linear-gradient(92.01deg, #8ea7ff 0%, #7291ff 100%);
	border-radius: 10px;
	color: #ffffff;
	font-weight: bold;
	font-size: 1em;
	line-height: 1.4em;
	outline: none;
}

#button_get:hover,
#button_get:focus {
	color: #333333;
	box-sizing: border-box;
}

.box_button {
	margin-top: 1.4em;
	margin-bottom: 2.5em;
}

#text_search {
	font-size: 1em;
	width: 100%;
	height: 2.6em;
	border: 2px solid #333333;
	border-radius: 10px;
	padding-left: 10px;
	display: none;
	box-sizing: border-box;
	outline: none;
	transition: 1s all linear;
}

::placeholder {
	font-style: normal;
	font-weight: normal;
	color: #ababab;
}

#categories_box {
	display: none;
}

.categories {
	max-width: 7.2em;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	color: #ababab;
	font-size: 0.75em;
	height: 1.8em;
	margin-right: 1.5em;
	margin-top: 1.5em;
	border: 2px solid #f8f8f8;
	box-sizing: border-box;
	border-radius: 6px;
	line-height: 1em;
	outline: none;
}

.categories:hover {
	color: #333333;
	background: #f8f8f8;
	border: 2px solid #f8f8f8;
	box-sizing: border-box;
}

.active_button {
	color: #333333;
	background: #f8f8f8;
	border: 2px solid #f8f8f8;
	box-sizing: border-box;
}

.container_joke {
	min-height: 10em;
	background: #f8f8f8;
	border-radius: 20px;
	margin: 20px 0 20px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	padding-left: 6.3em;
	padding-right: 2.5em;
	padding-bottom: 30px;
	padding-top: 30px;
	text-align: start;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.link {
	font-weight: 500;
	font-size: 0.63em;
	line-height: 0.88em;
	color: #ababab;
	margin-bottom: 0;
}

a {
	font-style: normal;
	color: #8ea7ff;
}

.text {
	font-weight: normal;
	font-size: 1.1em;
	line-height: 1.6em;
	color: #333333;
	align-items: center;
	margin-top: 0.31em;
}

.timeAgo {
	font-weight: normal;
	font-size: 0.63em;
	line-height: 0.88em;
	color: #ababab;
}

.letter {
	position: absolute;
	left: 2.5em;
	top: 4.2em;
	background-image: url('../icons/message.svg');
	width: 40px;
	height: 40px;
}

.link_icon {
	background-image: url('../icons/link.svg');
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-left: 4px;
	vertical-align: bottom;
}

.heart {
	position: absolute;
	right: 2.5em;
	top: 2.5em;
	background-image: url('../icons/heart.svg');
	width: 20px;
	height: 17px;
}

.labelCategory {
	background: #ffffff;
	border-radius: 6px;
	font-weight: 500;
	font-size: 10px;
	line-height: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #333333;
	padding: 4px 15px;
	position: absolute;
	right: 2.5em;
}

span {
	display: inline-block;
}

.name_favourite,
.button_main {
	color: #ababab;
	font-size: 1.3em;
	font-style: normal;
	font-weight: 500;
	line-height: 28px;
}

.favourite {
	background-image: url('../icons/favourite.svg');
}

.container_joke_favour {
	background-color: #ffffff;
	font-size: 14px;
	line-height: 20px;
	min-height: 9em;
}

.message_change {
	background-image: url('../icons/messageGray.svg');
	top: 3.8em;
}

.open,
.close {
	width: 28px;
	height: 28px;
	position: relative;
	top: 7px;
	margin-right: 10px;
}

.open {
	background-image: url('../icons/opening.svg');
}

.close {
	background-image: url('../icons/closing.svg');
	display: none;
}

.visible {
	display: flex;
}

.slowShow {
	opacity: 1;
}

.freezing {
	position: fixed;
	pointer-events: none;
}

.color_freez {
	background: rgba(0, 0, 0, 0.3);
}
